# Tuples Simple Questions

In [6]:
'''1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>  '''      

x = [1,2]
print("x -", x)
print (type(x))
y = tuple(x)
print("y -", y)
print (type(y))

x - [1, 2]
<class 'list'>
y - (1, 2)
<class 'tuple'>

In [7]:
'''2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)'''

x = ("tuples",3.2, 1)
print(x)

('tuples', 3.2, 1)

In [11]:
'''3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25'''

x = 5, 10, 15, 20, 25
print (type(x))
print(x)
for i in x:
    print(i)

<class 'tuple'>
(5, 10, 15, 20, 25)
5
10
15
20
25

In [14]:
'''4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility'''
        
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
string = ''.join(x)
print(string)

volatality

In [17]:
'''5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]'''
        
x=(1,2,3)
print(x)
y = list(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [19]:
'''6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')'''

x = ("a","b","c","d")

x_list = list(x)

x_list.remove("c")

x = tuple(x_list)

print(x)

('a', 'b', 'd')

In [22]:
'''7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9'''

x = "positions"
tuple_x = tuple(x)
print(tuple_x)
print(len(tuple_x))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [26]:
'''8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}'''

x = ((2, "w"),(3, "r"))

output = {value: key for key, value in x}
print(output)

{'w': 2, 'r': 3}

In [37]:
'''9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)'''

x = ("Baskar")
#print (type(x))
tuple_x = tuple(x)
#print(tuple_x)
rev_tuple_x = tuple_x[::-1]
print(rev_tuple_x)

x = (5, 10, 15, 20)
#print (type(x))
rev_x = x[::-1]
print(rev_x)

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [40]:
'''10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15'''

x = 4, 8, 3
a, b, c = x
print(x)
print (a + b + c)

(4, 8, 3)
15

In [42]:
'''11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))'''

x = ("Boss", [8, 4, 6], (1, 2, 3))
print(type(x))
print(x)

<class 'tuple'>
('Boss', [8, 4, 6], (1, 2, 3))

In [45]:
'''12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>'''

x = ("hello")
print(type(x))
x = tuple("hello")
print(type(x))

<class 'str'>
<class 'tuple'>

In [49]:
'''13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r'''
x = ('B','a','s','k','a','r')
#print(type(x))
print ("x[0] is", x[0])
print ("x[5] is", x[5])

x[0] is B
x[5] is r

In [51]:
'''14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4'''

x = ("Boss", [8, 4, 6], (1, 2, 3))

print("x[0][3] is :", x[0][3])
print("x[1][1] is :", x[1][1])

x[0][3] is : s
x[1][1] is : 4

In [53]:
'''15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B'''

x = ('B','a','s','k','a','r')

print("x[-1] is :", x[-1])
print("x[-6] is :", x[-6])

x[-1] is : r
x[-6] is : B

In [59]:
'''16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)'''

x = (1, 12, 123)
y = (4, 9)
z = x + y
print("z = x + y :", z)
print("z * 3 :", z * 3)

z = x + y : (1, 12, 123, 4, 9)
z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [62]:
'''17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello sai'''
x = ('boss','sai')
for name in x:
    print(f"Hello {name}")

Hello boss
Hello sai

In [67]:
'''18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3'''

x = ('a', 'p', 'p', 'l', 'e')
count_p = x.count('p')
index_l = x.index('l')

print("count of p is:", count_p)
print("Index of l is:", index_l)

count of p is: 2
Index of l is: 3

In [69]:
'''19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')'''

x = (1, [9, 8, 7], "boss")
print(x)
index = x[1].index(7)
x[1][index] = 77
print(x)

(1, [9, 8, 7], 'boss')
(1, [9, 8, 77], 'boss')

In [77]:
'''20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)'''

x = (11, 22, 33, 44, 55, 66, 77, 88, 99)

print(x)
print(x[2:5])
print(x[0:4])
print(x[4:])
print(x[4:8])
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)